svg {
  background: white;
  border-radius: 10px;
  fill: white;
  stroke: black;
  overflow: visible;
}

text {
  fill: black;
  font-weight: 100;
}

.dot {
  // fill: black;
  stroke: gray;
  stroke-width: 0.4px;
  opacity: 0.9;
}

#tooltip {
  font-size: 0.8rem;
  color: white;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 12px 15px;
  width: 100px;
}

#legend {
  stroke: none;
  background: rgba(0, 0, 0, 0.8);
}

rect#legend-square {
  height: 25;
  width: 25;
}

rect#legend-label {
  fill: black;
}

#title {
  font-size: 2rem;
  text-anchor: middle;
}

#y-axis-label {
  font-size: 1.5rem;
  text-anchor: middle;
  transform: translate(50px, 50%) rotate(-90deg);
  -webkit-transform: translate(50px, 50%) rotate(-90deg);
  -moz-transform: translate(50px, 50%) rotate(-90deg);
  -ms-transform: translate(50px, 50%) rotate(-90deg);
  -o-transform: translate(50px, 50%) rotate(-90deg);
}